version: '3.8'

services:

  user-service:
    image: user-service
    container_name: user-service
    ports:
      - "8081:8081"

  order-service:
    image: order-service
    container_name: order-service
    ports:
      - "8082:8082"

  api-gateway:
    image: api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - user-service
      - order-service
